@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.rest-name h1 {
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.list-title h3 {
  font-size: 17px;
  color: #424242;
}

h4 {
  font-size: 19px;
  font-weight: 900;
  margin: 4px 2px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 18px;
}

.d-tile h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  font-size: 17px;
}
.d-tile p {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}
.d-tile p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
}
.d-tile .d-price {
  font-weight: 600;
  color: #424242;
  margin-left: 6px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 2px;
}

footer {
  background-color: #353535;
  padding: 1.5em;
}
footer li {
  margin-bottom: 10px;
}
footer li a {
  color: #fff !important;
  font-size: 17px;
}
footer li a i {
  width: 14px;
  fill: #fff;
  margin-right: 10px;
}
footer img {
  width: 110px;
  filter: invert(1);
}

.header {
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.back-home {
  padding: 20px;
  font-size: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 64px;
}

.site-logo img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main-title-container {
  background-color: #f3f3f3;
  padding-bottom: 50px;
}

.city-loc {
  background-color: #dedede;
  z-index: 50;
}
.city-loc i, .city-loc p {
  display: inline-block;
  color: #424242;
}
.city-loc i {
  height: 22px;
}
.city-loc p {
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto 20px 20px;
}

.motto-intro {
  padding: 24px;
  padding-top: 40px;
}
.motto-intro h2 {
  font-weight: 900;
  margin: auto 1em 1em;
}
.motto-intro p {
  font-weight: 200;
}

.index-header, .index-main, .index-footer {
  animation: pageDisplay 3s forwards;
}

@keyframes pageDisplay {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header, footer, main {
  visibility: visible !important;
}

main .ordering-steps {
  padding: 15px;
}
main .cards-section {
  background-color: #f2f2f2;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
}
main .page-content {
  border-radius: 30px 30px 0 0;
  margin-top: -45px;
  position: relative;
  z-index: 99;
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
}
main .page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 20px auto 0;
}
main .page-title .c-like {
  font-size: 24px;
}
main .page-title .c-like i {
  transition: 0.2s ease-in-out, background-color 0.3s;
}
main .page-title .c-like i:hover, main .page-title .c-like i:visited, main .page-title .c-like i:enabled {
  cursor: pointer;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  font-weight: 800;
}

.dflex {
  display: flex;
}

.dflex-v {
  display: flex;
  flex-direction: column;
}

.btn {
  min-width: 200px;
  border-radius: 50px;
  background: rgb(255, 121, 218);
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  box-shadow: 0 5px 5px #bbb;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5;
  font-weight: 500;
  padding: 16px 26px;
  border: none;
  transition: 0.15s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px #fff;
}

.exp-btn {
  margin-bottom: 10px;
}

.order-btn {
  margin: 45px auto;
}

.all-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.content-tile {
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  font-size: 16px;
  align-items: center;
  background-color: #f3f3f3;
  padding: 25px 20px;
  border-radius: 25px;
  box-shadow: 0px 5px 10px #ddd;
}
.content-tile .step-icon {
  font-size: 22px;
  color: #808080;
}
.content-tile:hover, .content-tile:active {
  cursor: pointer;
  background-color: rgba(147, 86, 220, 0.137254902);
}
.content-tile:hover .step-icon, .content-tile:active .step-icon {
  color: #9356dc;
}

.step-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.step-content p {
  font-size: 17px;
  font-weight: 600;
}

.tagnb {
  margin-left: -35px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #9356dc;
  border-radius: 20px;
  padding-top: 3px;
}
.tagnb p {
  margin: auto;
  font-size: 14px;
}

.d-tile {
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  background-color: #fff;
  margin: auto 0px;
  border-radius: 15px;
  box-shadow: 0 2px 6px #ccc;
  padding: 0px;
  overflow: hidden;
}
.d-tile:hover {
  cursor: pointer;
}
.d-tile .d-name {
  text-align: left;
  padding: 10px 8px;
  min-width: 100px;
  flex: 1;
}
.d-tile .d-name h4 {
  font-size: 19px;
}
.d-tile .d-name p {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.d-tile .d-price {
  padding: 36px 8px 8px;
  justify-content: flex-end;
  margin: 2px 7px;
}
.d-tile .d-price p {
  font-weight: 600;
}
.d-tile .d-choice {
  width: 0px;
  height: 72px;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}
.d-tile .d-choice i {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.d-tile:hover, .d-tile:active {
  background-color: #fff;
}
.d-tile:hover .d-choice, .d-tile:active .d-choice {
  width: 72px;
}
.d-tile:hover .d-choice i, .d-tile:active .d-choice i {
  transform: rotate(-360deg);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .dish-list {
    justify-content: flex-start;
  }

  .content-tile {
    min-width: 400px;
  }
}
@media screen and (min-width: 992px) {
  .dish-list {
    flex-direction: row;
  }

  .content-tile {
    flex: 1;
  }
}
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.r-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 2px #ccc;
}
.r-card img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 2/1;
}
.r-card:hover {
  box-shadow: 0 0 0;
}
.r-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 10px 30px 10px 15px;
}
.r-card .card-content .name-loc {
  justify-content: space-between;
  align-items: center;
}
.r-card .card-content .name-loc p {
  font-size: 19px;
}
.r-card .card-content .name-loc i {
  font-size: 26px !important;
  transition: 0.2s ease-in-out, background-color 0.3s;
}
.r-card .card-content .name-loc i:hover, .r-card .card-content .name-loc i:visited {
  cursor: pointer;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  transform: scale(1.1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.r-card .card-content .r-name {
  justify-content: space-between;
}
.r-card .new-menu {
  position: absolute;
  top: 15px;
  right: 19px;
  background-color: #99e2d0;
  padding: 6px 10px;
  border-radius: 2px;
  z-index: 999;
}
.r-card .new-menu p {
  font-size: 14px;
  font-weight: 500;
  color: #007755;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .r-card {
    flex: 6;
    flex-basis: 40%;
  }
}
@media screen and (min-width: 992px) {
  .cards-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .r-card {
    flex: 1;
  }
}
.on-load {
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  animation: hideElement 0s ease-in 3s forwards;
}

.loader {
  margin: 20px;
  border: 4px solid #f3f3f3;
  border-top: 5px solid #99e2d0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear 2;
  animation-duration: 3s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideElement {
  0% {
    height: fit-content;
  }
  99% {
    height: fit-content;
  }
  100% {
    overflow: hidden;
    height: 0;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
* Remove bullets from unordered lists
*/
ul {
  list-style-type: none;
}

/*# sourceMappingURL=normalize.css.map */
.img-lpdg {
  content: "";
  height: 0;
  width: 100%;
  padding-top: 67%;
  background: url("../assets/images/restaurants/lapalettedugout.jpg") no-repeat;
  background-size: contain;
  z-index: 1;
}
.img-lpdg img {
  max-width: 100%;
}

.list-title {
  position: relative;
  text-align: left;
  margin-top: 25px;
  animation: m-loadTiles 1.5s ease-out forwards;
}
.list-title:after {
  background-color: #99E2D0;
  bottom: -8px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}

.dish-list {
  gap: 15px;
  animation: m-loadTiles 1.5s ease-out forwards;
}

@media screen and (min-width: 992px) {
  main .header-image {
    padding-top: 35%;
    background-size: cover;
    background-position: center;
  }

  .dish-list {
    animation: d-loadTiles 1.5s ease-out forwards;
  }
}
@keyframes m-loadTiles {
  0% {
    transform: translateY(60px);
    gap: 40px;
    opacity: 0.01;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes d-loadTiles {
  0% {
    transform: translateX(60px);
    gap: 40px;
    opacity: 0.01;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.img-alf {
  content: "";
  height: 0;
  width: 100%;
  padding-top: 67%;
  background: url("../assets/images/restaurants/alafrancaise.jpg") no-repeat;
  background-size: contain;
  z-index: 1;
}
.img-alf img {
  max-width: 100%;
}

.img-lne {
  content: "";
  height: 0;
  width: 100%;
  padding-top: 67%;
  background: url("../assets/images/restaurants/lanoteenchantee.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}
.img-lne img {
  max-width: 100%;
}

.img-ldds {
  content: "";
  height: 0;
  width: 100%;
  padding-top: 67%;
  background: url("../assets/images/restaurants/ledelicedessens.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}
.img-ldds img {
  max-width: 100%;
}

/*# sourceMappingURL=_index.css.map */
