footer {
    background-color: #353535;
    padding: 1.5em;

    li {

        margin-bottom: 10px;
    
        a {
            color: #fff!important;
            font-size: 17px;

            i{
                width: 14px;
                fill: #fff;
                margin-right: 10px;
            }
        }
    }

    img{
        width: 110px;
        filter: invert(1);
    }

}
