.header{
    text-align: center;
}

.header-content {
    position: relative;
    z-index: 1;
}

.back-home {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    top: 25px;
    left: 25px;

    i {
        font-size: 22px;
    }
}

.main-title-container{
    background-color: #f3f3f3;
    padding-bottom: 50px;
}

.site-logo {
    position: relative;
    box-shadow: 0px 5px 5px -5px darkgray;
    z-index: 99;

    img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.city-loc {
    background-color: #dedede;
    z-index: 50;

    i, p{
        display: inline-block;
        color: #424242
    }

    i {
        height: 22px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        margin: 20px auto 20px 20px;
    }

}

.motto-intro{
    padding: 24px;
    padding-top: 40px;

    h2 {
        font-weight: 900;
        margin: auto 1em 1em;
    }

    p {
        font-weight: 200;
    }
}