.header{
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.back-home {
    padding: 20px;
    font-size: 22px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 64px;    
}

.site-logo {

    img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.main-title-container{
    background-color: #f3f3f3;
    padding-bottom: 50px;
}

.city-loc {
    background-color: #dedede;
    z-index: 50;

    i, p{
        display: inline-block;
        color: #424242
    }

    i {
        height: 22px;
    }

    p {
        font-size: 18px;
        font-weight: bold;
        margin: 20px auto 20px 20px;
    }

}

.motto-intro{
    padding: 24px;
    padding-top: 40px;

    h2 {
        font-weight: 900;
        margin: auto 1em 1em;
    }

    p {
        font-weight: 200;
    }
}