.header{
    text-align: center;
}

.header-content {
    z-index: 1;
}

.main-title-container{
    background-color: #f3f3f3;
    padding-bottom: 50px;
}

.site-logo {
    position: relative;
    box-shadow: 0px 5px 5px -5px darkgray;
    z-index: 99;

    img {
        margin-top: 24px;
        margin-bottom: 12px;
    }
}

.city-loc {
    background-color: #dedede;
    z-index: 50;

    i, p{
        display: inline-block;
    }

    i {
        height: 22px;
    }

    p {
        font-weight: bold;
        margin: 20px auto 20px 12px;
    }

}

.motto-intro{
    padding: 24px;
    padding-top: 40px;

    h2 {
        font-weight: black;
        margin: auto 1.5em 1em;
    }
}