.btn {
    border-radius: 50px;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    box-shadow: 6px 8px 8px -8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 30px;
    border: none;
}

.exp-btn {
    margin-bottom: 10px;
    
}