.btn {
    min-width: 200px;
    border-radius: 50px;
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    box-shadow: 0 5px 5px #bbb;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5;
    font-weight: 500;
    padding: 16px 26px;
    border: none;
    transition: 0.15s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0 10px 10px #999;
        background: linear-gradient(180deg, rgba(255,140,230,1) 0%, rgba(167,106,240,1) 100%);
    }
}



.exp-btn {
    margin-bottom: 10px;
    
}

.order-btn {
    margin: 45px auto;
}