.cards-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.r-card{
    position: relative;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    border-radius: 15px;
    background-color: #fff;

    box-shadow: 0px 2px 2px #ccc;

    img{
        object-fit: cover;
        width: 100%;
        aspect-ratio: 2/1;
    }

    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*align-items: center;*/
        padding: 10px 30px 10px 15px;

        .name-loc {
            p{
                font-size: 19px;
            }
        }

        .r-name {
            display: flex;
            justify-content: space-between;

            i{
                font-size: 26px;
                transition: 0.2s ease-in-out, background-color 0.3s;

                &:hover, &:visited, &:enabled {
                    background: -webkit-linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(1.1);
                }
            }
        }

        
    }

    .new-menu{
        position:absolute;
        top: 15px;
        right: 19px;
        background-color: #99e2d0;
        padding: 6px 10px;
        border-radius: 2px;

        z-index: 999;

        p{
            font-size: 14px;
            font-weight: 500;
            color: #007755;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .cards-list {
        flex-direction: row;
    }

    .r-card {

    }
}