.on-load {
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    animation: hideElement 0s ease-in 3s forwards;
}

.loader {
    margin: 20px;
    border: 4px solid #f3f3f3;
    border-top: 5px solid #99e2d0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear 2;
    animation-duration: 3s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}

@keyframes hideElement {

    0%{height: fit-content;}

    99% {height: fit-content;}

    100% {
        overflow: hidden;
        height: 0;
    }
}
