.all-steps{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.content-tile{
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    font-size: 16px;
    align-items: center;
    background-color: #f3f3f3;
    padding: 25px 20px;

    border-radius: 25px;
    box-shadow: 0px 5px 5px #ccc;

    &:hover, &:active{
        background-color: #9356dc23;

        .step-icon{
            color: #9356dc;
        }
    }
}

.step-icon{
    color: #808080;
}

.step-content{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

    p{
        font-size: 17px;
        font-weight: 600;
    }

    
}

.tagnb{
    margin-left: -35px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #9356dc;
    border-radius: 20px;
    padding-top: 3px;

    p{
        margin: auto;
        font-size: 14px;
    }
}

.d-tile {
    align-items: flex-start;
    gap: 0px;
    background-color: #fff;
    margin: auto 0px;
    border-radius: 15px;
    padding: 10px 8px;
    box-shadow: 0 0 5px #ccc;

    &:hover, &:active {
        background-color: #fff;
    }

    .dnp {
        width: 100%;
        justify-content: space-between;
    }

    .d-price {
        margin: auto 14px;
        height: 100%;
        justify-content: flex-end;
    }
}