.list-title{
    position: relative;
    text-align: left;
    margin-top: 25px;
    animation: m-loadTiles 1.5s ease-out forwards;
    
    &:after {
        background-color: #99E2D0;
        bottom: -8px;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        width: 40px;
    }

}

.dish-list {
    gap: 15px;
    animation: m-loadTiles 1.5s ease-out forwards;
}

@media screen and (min-width: 992px) {
    
    main .header-image {
        padding-top: 35%;
        background-size: cover;
        background-position: center;
    }
    
    .dish-list {
        animation: d-loadTiles 1.5s ease-out forwards;
    }
}

@keyframes m-loadTiles {
    0%{
        transform: translateY(60px);
        gap: 40px;
        opacity: 0.01;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes d-loadTiles {
    0%{
        transform: translateX(60px);
        gap: 40px;
        opacity: 0.01;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}