header, footer, main {
    visibility: visible!important;
}

.header-image{
    content: "";
    height: 0;
    width: 100%;
    padding-top: 67%;
    background: url('../assets/images/restaurants/lapalettedugout.jpg') no-repeat;
    background-size: contain;
    z-index: 1;
    img{
        max-width: 100%;
    }
}

.list-title{
    position: relative;
    text-align: left;
    
    &:after {
        background-color: #99E2D0;
        bottom: -8px;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        width: 40px;
    }

}

.dish-list {
    gap: 15px;
    animation: loadTiles 1.5s ease-out forwards;
}

@keyframes loadTiles {
    0%{
        transform: translateY(60px);
        gap: 40px;
        opacity: 0.01;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}